doctype html
html
    head
        title=titulo
        link(href="/stylesheets/estilos.css", rel="stylesheet")
    body 
        h1
            a(href="http://google.com") Texto del enlace
        
        div
            p Nuestras camisetas estan desarrolladas con los mejores tejidos
            img(src=image)
        
        h2 Nuestros colores
        ul
            li=azul
            li=verde
            li=rojo
            li=amarillo
            li=color

        table("")
            tr
                td
                td
            tr
                td
                td
            tr
                td
                td
            tr
                td
                td

            